<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <!-- Thêm link tới các tệp CSS và JavaScript của Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Đơn hàng của bạn đã được đặt thành công</h1>
                <p>Cảm ơn bạn đã tin tưởng và đặt hàng ở trang web chúng tôi.</p>
                <p>Mọi thắc mắc vui lòng liên hệ đến địa chỉ Email haducduy66@gmail.com!</p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>

    <!-- Thêm link tới các tệp JavaScript của Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
