@model IEnumerable<Book_Store_Memoir.Models.Category>

@{
    ViewData["Title"] = "Index";

}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="" asp-controller="" asp-action="" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh mục: </span>
        </nav>
    </div>
</div>

<div class="row m-b-30">
    <div class="col-lg-8">
        <div class="d-md-flex">
            <div class="m-b-10 m-r-15">
            </div>

        </div>
    </div>
    <div class="col-lg-4 text-right">
        <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
            <i class="anticon anticon-plus-circle m-r-5"></i>
            <span>Thêm mới</span>
        </a>

    </div>
</div>

<table class="table table-hover e-commerce-table">
    <thead>
        <tr>
            <th>Tên loại sản phẩm</th>
            <th>Ngày thêm</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>


                    <td>
                        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">View</a>
                        <a class="btn btn-secondary btn-tone m-r-5" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        }

    </tbody>
</table>